<div class="card grid">
    <div class="help-page col-12 md:col-6">
        <p-toast></p-toast>
        <div class="card articles-card">
            <div class="form-row">
                <div class="form-group m-0">
                    <input type="file" #file (change)="onFileChange($event)" class="form-control" placeholder="" style="display: none ">
                </div>

                <p-button label="Mudar foto de perfil" icon="pi pi-upload" (click)="file.click()" iconPos="right" class="mr-2 mb-2"></p-button>
            </div>
            <h6></h6>
            <p>Informações Pessoais</p>
            <div class="blog-posts">
                <div class="blog-post">
                    <div class="blog-text">
                        <h6 class="text-white">{{f.firstName.value +' '+ f.lastName.value}}</h6>
                        <span class="text-white">{{f.descricao.value}}</span>
                    </div>
                    <div class="blog-profile">
                        <img
                            [src]="imagemURL"
                            alt="diamond-layout"
                        />
                    </div>
                </div>
                <h5>Empresa</h5>
                <div class="flex align-items-center">
                    <!-- <p-chip label="Apple" icon="pi pi-apple" styleClass="mr-2"></p-chip>
                        <p-chip label="Facebook" icon="pi pi-facebook" styleClass="mr-2"></p-chip>
                        <p-chip label="Google" icon="pi pi-google" styleClass="mr-2"></p-chip>
                        <p-chip label="Microsoft" icon="pi pi-microsoft" [removable]="true"></p-chip> -->
                    <p-chip
                        label="Fazenda Princesa"
                        icon="pi pi-chart-pie"
                    ></p-chip>
                </div>
                <h5>CNPJ</h5>
                <div class="flex align-items-center">
                    <!-- <p-chip label="Apple" icon="pi pi-apple" styleClass="mr-2"></p-chip>
                        <p-chip label="Facebook" icon="pi pi-facebook" styleClass="mr-2"></p-chip>
                        <p-chip label="Google" icon="pi pi-google" styleClass="mr-2"></p-chip>
                        <p-chip label="Microsoft" icon="pi pi-microsoft" [removable]="true"></p-chip> -->
                    <p-chip
                        label="32.227.188/0001-00"
                        icon="pi pi-id-card"
                    ></p-chip>
                </div>
            </div>
        </div>
    </div>
    <div class="col card md:col-6">
        <!-- <div class="flex flex-column">
                <div class="mb-2 card"><h5>Dados Pessoais</h5></div>
            </div> -->
        <div class="p-fluid formgrid grid">
            <!-- <div class="flex flex-column col-12">
                    <div class="mb-2 card"><h5>Dados de Acesso</h5></div>
                </div>
		 -->
        </div>
                <!-- <p>{{form.value | json}}</p>                <p>{{form.valid | json}}</p> -->

        <form [formGroup]="form" class="login-panel p-fluid" (ngSubmit)="onSubmit()">
            <div class="flex flex-column">
                <div class="p-fluid formgrid grid">
                    <div class="flex flex-column col-12">
                        <div class="mb-2 card"><h5>Dados Pessoais</h5></div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <input
                            id="nome"
                            type="text"
                            pInputText
                            placeholder="Nome"
                            formControlName="firstName"
                            [ngClass]="{
                                'ng-dirty ng-invalid':
                                    f.firstName.errors && f.firstName.touched
                            }"
                        />
                        <small
                            *ngIf="f.firstName.errors?.required && f.firstName.touched"
                            class="p-error"
                            >Nome é obrigatório.
                        </small>
                    </div>
                    <div class="field col-12 md:col-6">
                        <input
                            id="sobrenome"
                            type="text"
                            pInputText
                            placeholder="Sobrenome"
                            formControlName="lastName"
                            [ngClass]="{
                                'ng-dirty ng-invalid':
                                    f.lastName.errors && f.lastName.touched
                            }"
                        />
                        <small
                            *ngIf="
                                f.lastName.errors?.required &&
                                f.lastName.touched
                            "
                            class="p-error"
                            >Sobrenome é obrigatório.</small
                        >
                    </div>
                    <div class="field col-12">
                        <span class="p-input-icon-left">
                            <i class="pi pi-at"></i>
                            <input
                                id="email"
                                type="text"
                                autocomplete="off"
                                pInputText
                                placeholder="Email"
                                formControlName="email"
                                [ngClass]="{
                                    'ng-dirty ng-invalid':
                                        f.email.errors && f.email.touched
                                }"
                            />
                        </span>
                        <small
                            *ngIf="f.email.errors?.required && f.email.touched"
                            id="email-help"
                            class="p-error"
                            >E-mail é obrigatório.</small
                        >
                        <small
                            *ngIf="f.email.errors?.email && f.email.touched"
                            id="email-help"
                            class="p-error"
                            >Digite um e-mail válido.</small
                        >
                    </div>
                    <div class="field col-12">
                            <input
                                id="email"
                                type="text"
                                autocomplete="off"
                                pInputText
                                placeholder="Descrição"
                                formControlName="descricao"
                                [ngClass]="{
                                    'ng-dirty ng-invalid':
                                        f.descricao.errors && f.descricao.touched
                                }"
                            />
                        <small
                            *ngIf="f.descricao.errors?.minlength && f.descricaotouched"
                            id="email-help"
                            class="p-error"
                            >No minimo 2 caracteres.</small
                        >
                    </div>
                    <div class="flex flex-column col-12">
                        <div class="mb-2 card"><h5>Dados de Acesso</h5></div>
                    </div>
                    <div class="field col-12">
                        <span class="p-input-icon-left">
                            <i class="pi pi-user"></i>
                            <input
                                type="text"
                                autocomplete="off"
                                pInputText
                                placeholder="Usuario"
                                formControlName="userName"
                                [ngClass]="{
                                    'ng-dirty ng-invalid':
                                        f.userName.errors && f.userName.touched
                                }"
                            />
                        </span>
                        <small
                            *ngIf="
                                f.userName.errors?.required && f.userName.touched
                            "
                            id="email-help"
                            class="p-error"
                            >Usuario é obrigatório.</small
                        >
                    </div>
                    <!-- <div class="field col-12 md:col-4">
                        <span class="p-input-icon-left">
                            <i class="pi pi-key"></i>
                            <input
                                type="password"
                                autocomplete="off"
                                pInputText
                                placeholder="Digite a Senha Atual"
                                formControlName="currentPassword"
                                [ngClass]="{
                                    'ng-dirty ng-invalid':
                                        f.currentPassword.errors && f.currentPassword.touched
                                }"
                            />
                        </span>
                        <small
                            *ngIf="f.currentPassword.errors?.required && f.currentPassword.touched"
                            class="p-error"
                            >Senha Atual é obrigatório.</small
                        >
                        <small
                            *ngIf="f.currentPassword.errors?.minlength && f.currentPassword.touched"
                            class="p-error"
                            >Senha Atual deve ter no minimo 6 caracteres.</small
                        >
                    </div> -->
                    <div class="field col-12 md:col-6">
                        <span class="p-input-icon-left">
                            <i class="pi pi-key"></i>
                            <input
                                type="password"
                                autocomplete="off"
                                pInputText
                                placeholder="Digite a Nova Senha"
                                formControlName="password"
                                [ngClass]="{
                                    'ng-dirty ng-invalid':
                                        f.password.errors && f.password.touched
                                }"
                            />
                        </span>
                        <small
                            *ngIf="f.password.errors?.required && f.password.touched"
                            class="p-error"
                            >Nova Senha é obrigatório.</small
                        >
                        <small
                            *ngIf="f.password.errors?.minlength && f.password.touched"
                            class="p-error"
                            >Nova Senha deve ter no minimo 6 caracteres.</small
                        >
                    </div>
                    <div class="field col-12 md:col-6">
                        <span class="p-input-icon-left">
                            <i class="pi pi-key"></i>
                            <input
                                type="password"
                                autocomplete="off"
                                pInputText
                                placeholder="Confirmar Senha"
                                formControlName="confirmPassword"
                                [ngClass]="{
                                    'ng-dirty ng-invalid':
                                        f.confirmPassword.errors &&
                                        f.confirmPassword.touched
                                }"
                            />
                        </span>
                        <small
                            *ngIf="
                                f.confirmPassword.errors?.required &&
                                f.confirmPassword.touched
                            "
                            class="p-error"
                            >Password é obrigatório.</small
                        >
                        <small
                            *ngIf="
                                f.confirmPassword.errors?.mustMatch &&
                                f.confirmPassword.errors?.mustMatch
                            "
                            class="p-error"
                            >Senhas nao conferem</small
                        >
                    </div>
                </div>
            </div>

            <div class="login-footer flex align-items-center">
                <!--<div class="flex align-items-center login-footer-logo-container">
                    <img src="assets/layout/images/logo-gray.png" class="login-footer-logo"/>
                    <img src="assets/layout/images/appname-gray.png" class="login-footer-appname"/>
                </div>-->
                <!--<span>Copyright 2021</span>-->
            </div>

        <div class="p-fluid formgrid grid">
            <div class="field col-12 md:col-3">
                <button
                    pButton
                    pRipple
                    [disabled]="!form.valid"
                    type="submit"
                    label="Salvar"
                    class="p-button-raised p-button-success mr-2 mb-2"
                ></button>
            </div>
            <!-- <div class="field col-12 md:col-3">
                <button
                    pButton
                    pRipple
                    (click)="resetForm($event)"
                    type="button"
                    label="Cancelar"
                    class="p-button-raised p-button-danger mr-2 mb-2"
                ></button>
            </div> -->
        </div>
    </form>
    </div>
</div>
