<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>

        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button
                        pButton
                        pRipple
                        label="Novo"
                        icon="pi pi-plus"
                        class="p-button-success mr-2 mb-2"
                        routerLink="/cost-center/detalhe"
                    ></button>
                    <button
                        pButton
                        pRipple
                        label="Deletar"
                        icon="pi pi-trash"
                        class="p-button-danger mb-2"
                        (click)="deleteSelectedCostCenters()"
                        [disabled]="!selectedCostCenters || !selectedCostCenters.length"
                    ></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload
                        mode="basic"
                        accept="image/*"
                        [maxFileSize]="1000000"
                        label="Import"
                        chooseLabel="Importar"
                        class="mr-2 mb-2 inline-block"
                    ></p-fileUpload>
                    <button
                        pButton
                        pRipple
                        label="Exportar"
                        icon="pi pi-upload"
                        class="p-button-help mb-2"
                        (click)="dt.exportCSV()"
                    ></button>
                </ng-template>
            </p-toolbar>
            <h5 class="p-m-0">Gerenciar</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                    pInputText
                    type="text"
                    (input)="filtrarCostCenters($event.target)"
                    placeholder="Pesquisar..."
                />
            </span>
            <p-table
                #dt
                [value]="costCenters"
                [columns]="cols"
                [lazy]="true"
                [rows]="3"
                [rowsPerPageOptions]="[3,10,20]"
                [paginator]="true"
                [totalRecords]="totalRecords"
                [loading]="loading"
                (onPage)="pageChanged($event)"
                (onLazyLoad)="loadLazyCostCenters($event)"
                [(selection)]="selectedCostCenters"

                [rowHover]="true"
                styleClass="p-datatable-customers"
                currentPageReportTemplate="Do {first} até {last} de {totalRecords} resultados"
                [showCurrentPageReport]="true"
                *ngIf="costCenters.length; else tableEmpty"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between table-header"
                    >
                        <!--<span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="
                                    dt.filterGlobal(
                                        $event.target.value,
                                        'contains'
                                    )
                                "
                                placeholder="Search..."
                            />
                        </span>-->

                        <!-- <span class="p-input-icon-left">
                            <h5>{{filtroLista}}</h5>
                        </span> -->
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-checkbox name="group1" value="true" (onChange)="checkAllCheckBox($event)" [(ngModel)]="checkAllCostCenters" id="ny"></p-checkbox>
                        </th>
                        <!-- <th pSortableColumn="id">
                            Id <p-sortIcon field="id"></p-sortIcon>
                        </th> -->
                        <th pSortableColumn="classification">
                            Classificação <p-sortIcon field="classification"></p-sortIcon>
                        </th>
                        <th pSortableColumn="description">
                            Descrição
                            <p-sortIcon field="description"></p-sortIcon>
                        </th>
                        <th></th>

                        <th>Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-costCenter>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="costCenter"></p-tableCheckbox>
                        </td>
                        <!-- <td>
                            <span class="p-column-title">#</span>
                            {{ costCenter.id }}
                        </td> -->
                        <td>
                            <span class="p-column-title">Classificação</span>
                            {{ costCenter.classification}}
                        </td>
                        <!-- <td><span class="p-column-title">Image</span>
                                <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" />
                            </td> -->
                        <td>
                            <span class="p-column-title">Descrição</span>
                            {{ costCenter.description }}
                        </td>
                        <td>

                        </td>
                        <td>
                            <button
                                pButton
                                pRipple
                                icon="pi pi-eye"
                                pTooltip="Detalhes"
                                class="p-button-rounded p-button-rounded mr-2"
                                (click)="detalheCostCenter(costCenter.id)"
                            ></button>
                            <button
                                pButton
                                pRipple
                                icon="pi pi-pencil"
                                pTooltip="Editar"
                                class="p-button-rounded p-button-success mr-2"
                                (click)="detalheCostCenter(costCenter.id)"
                            ></button>
                            <button
                                pButton
                                pRipple
                                pTooltip="Excluir"
                                icon="pi pi-trash"
                                class="p-button-rounded p-button-warning"
                                (click)="deleteCostCenter(costCenter)"
                            ></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div
                        class="flex align-items-center justify-content-between"
                    >
                        No total são {{ costCenters ? pagination.totalItems : 0 }} centros de custo.
                    </div>
                </ng-template>
            </p-table>
            <ng-template #tableEmpty
                ><h5>Nenhum Centro de Custo encontrado!</h5></ng-template
            >
            <!-- <p-paginator
                [rows]="3"
                [(ngModel)]="pagination.currentPage"
                (onPageChange)="pageChanged($event)"
                [totalRecords]="pagination.totalItems"
                [rowsPerPageOptions]="[3, 20, 30]"
            >
            </p-paginator> -->
        </div>

        <!-- <p-dialog
            [(visible)]="costCenterDialog"
            [style]="{ width: '450px' }"
            header="CostCenter Detalhes"
            [modal]="true"
            styleClass="p-fluid"
        >
            <ng-template pTemplate="content">
                <img
                    [src]="'assets/demo/images/product/' + costCenter.imageUrl"
                    [alt]="costCenter.imageUrl"
                    class="product-image"
                    *ngIf="costCenter.imageUrl"
                />
                <div class="field">
                    <label for="local">Local</label>
                    <input
                        type="text"
                        pInputText
                        id="local"
                        [(ngModel)]="costCenter.local"
                        required
                        autofocus
                    />
                    <small class="p-invalid" *ngIf="submitted && !costCenter.Local"
                        >Local é obrigatório.</small
                    >
                </div>
                <div class="field">
					<label for="data-costCenter">Data CostCenter</label>
					<textarea id="data-costCenter" pInputTextarea [(ngModel)]="costCenter.DataCostCenter" required rows="3" cols="20"></textarea>
				</div>
                <div class="field">
                    <label for="data-costCenter">Data CostCenter</label>
                    <input
                        type="text"
                        pInputText
                        id="data-costCenter"
                        [(ngModel)]="costCenter.dataCostCenter"
                        required
                        autofocus
                    />
                    <small
                        class="p-invalid"
                        *ngIf="submitted && !costCenter.dataCostCenter"
                        >Data CostCenter é obrigatório.</small
                    >
                </div>

                <div class="field">
					<label class="mb-3">Category</label>
					<div class="formgrid grid">
						<div class="field-radiobutton col-6">
							<p-radioButton id="category1" name="category" value="Accessories" [(ngModel)]="product.category"></p-radioButton>
							<label for="category1">Accessories</label>
						</div>
						<div class="field-radiobutton col-6">
							<p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="product.category"></p-radioButton>
							<label for="category2">Clothing</label>
						</div>
						<div class="field-radiobutton col-6">
							<p-radioButton id="category3" name="category" value="Electronics" [(ngModel)]="product.category"></p-radioButton>
							<label for="category3">Electronics</label>
						</div>
						<div class="field-radiobutton col-6">
							<p-radioButton id="category4" name="category" value="Fitness" [(ngModel)]="product.category"></p-radioButton>
							<label for="category4">Fitness</label>
						</div>
					</div>
				</div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="tema">Tema</label>
                        <input
                            type="text"
                            pInputText
                            id="tema"
                            [(ngModel)]="costCenter.tema"
                            required
                            autofocus
                        />
                        <small
                            class="p-invalid"
                            *ngIf="submitted && !costCenter.tema"
                            >Tema é obrigatório.</small
                        >
                    </div>
                    <div class="field col">
						<label for="quantity">Quantity</label>
						<p-inputNumber id="quantity" [(ngModel)]="product.quantity"></p-inputNumber>
					</div>
                    <div class="field col">
                        <label for="lote">Lote</label>
                        <input
                            type="text"
                            pInputText
                            id="lote"
                            [(ngModel)]="costCenter.lote"
                            required
                            autofocus
                        />
                        <small
                            class="p-invalid"
                            *ngIf="submitted && !costCenter.lote"
                            >Lote é obrigatório.</small
                        >
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Cancel"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Save"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="saveProduct()"
                ></button>
            </ng-template>
        </p-dialog> -->

        <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
    </div>
</div>
